/* Estilos globales y para la tabla */

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: -0.03em;
    margin: 0;
}

body * {
    font-family: 'Poppins', sans-serif;
}

.custom-navbar-bg {
    background: linear-gradient(to bottom, #131313, #0A0A0A);
    border-bottom: 1px solid #353535;
}

.custom-table-rounded {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #2C2C2C;
    width: 100%;
    table-layout: fixed;
}

.custom-table-rounded thead th {
    background-color: #1A1A1A;
    color: #FAFAFA;
    border-bottom: none;
    padding: 12px 5px;
    text-align: center;
    word-break: break-word;
}

.custom-table-rounded tbody tr {
    background-color: #0A0A0A;
}

.custom-table-rounded tbody tr:nth-of-type(odd) {
    background-color: #131313;
}

.custom-table-rounded tbody td {
    color: #CCCCCC;
    padding: 10px 5px;
    border-top: 1px solid #2C2C2C;
    border-right: 1px solid #1A1A1A;
    word-break: break-word;
    text-align: center;
    vertical-align: middle;
}

.custom-table-rounded tbody td:last-child {
    border-right: none;
}

/* Estilos de paginación */
.custom-pagination .page-item .page-link {
    background-color: #1A1A1A;
    border-color: #353535;
    color: #FAFAFA;
}

.custom-pagination .page-item.active .page-link {
    background-color: #1946E3;
    border-color: #1946E3;
    color: #FFFFFF;
}

.custom-pagination .page-item .page-link:hover:not(.active) {
    background-color: #2C2C2C;
    border-color: #444444;
    color: #FAFAFA;
}

.custom-pagination .page-item.disabled .page-link {
    background-color: #0A0A0A;
    border-color: #2C2C2C;
    color: #666666;
}

